<div class="card shadow-2-strong" style="border-radius: 1rem;">
  <div class="card-body p-5 text-center">
    <%= simple_form_for(@task) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-outline mb-4">
        <%= f.input :title %>
      </div>
      <div class="form-outline mb-4">
        <%= f.input :body %>
      </div>
      <div class="form-outline mb-4">
        <%= f.input :completed %>
      </div>
      <div class="d-grid gap-2">
        <%= f.button :submit, class:"btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
  </div>
</div>
